@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scroll Bar styling */

/* width */
::-webkit-scrollbar {
    width: 12px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 75, 75);
}

::-webkit-scrollbar-track-piece {
    border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
    background: rgb(165, 165, 165);
}

/* Project backgrounds */
.jobTrackerImage {
    background-image: url(./assets/images/job-tracker-preview.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.airQualityImage {
    background-image: url(./assets/images/air-quality-preview.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.workdayImage {
    background-image: url(./assets/images/workday-planner.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.weatherAppImage {
    background-image: url(./assets/images/weatherApp.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.passGenImage {
    background-image: url(./assets/images/pass-gen.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.legoTestImage {
    background-image: url(./assets/images/lego.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dataVerseImage {
    background-image: url(./assets/images/dataverse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}